(
    name: "shooter-demo",
    main_graph: Some(1),
    graphs: [
        (
            nodes: [
                (
                    child_index: Some(9),
                    parent_index: None,
                    sibling_index: None,
                    name: "GameScene",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: None,
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: Some(3),
                    parent_index: Some(0),
                    sibling_index: None,
                    name: "Player",
                    transform: (
                        x: (
                            bits: 909312,
                        ),
                        y: (
                            bits: 1400832,
                        ),
                    ),
                    node_extension: Sprite((
                        graphic_asset: "playerShip2_small",
                        sprite_type: Affine((
                            rotation: (
                                bits: 0,
                            ),
                            scale_x: (
                                bits: 4096,
                            ),
                            scale_y: (
                                bits: 4096,
                            ),
                        )),
                    )),
                    script_type_id: Some(1),
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: Some(4),
                    name: "BottomCamera",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 786432,
                        ),
                    ),
                    node_extension: Camera((
                        active_main: false,
                        active_sub: true,
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(1),
                    sibling_index: None,
                    name: "PlayerCollider",
                    transform: (
                        x: (
                            bits: 24576,
                        ),
                        y: (
                            bits: 32768,
                        ),
                    ),
                    node_extension: RectCollider((
                        width: (
                            bits: 81920,
                        ),
                        height: (
                            bits: 65536,
                        ),
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: Some(1),
                    name: "TopCamera",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: Camera((
                        active_main: true,
                        active_sub: false,
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: Some(2),
                    name: "Enemy 1",
                    transform: (
                        x: (
                            bits: 221184,
                        ),
                        y: (
                            bits: 372736,
                        ),
                    ),
                    node_extension: Sprite((
                        graphic_asset: "enemyRed3",
                        sprite_type: Normal,
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: Some(5),
                    name: "Enemy 2",
                    transform: (
                        x: (
                            bits: 385024,
                        ),
                        y: (
                            bits: 372736,
                        ),
                    ),
                    node_extension: Sprite((
                        graphic_asset: "enemyRed3",
                        sprite_type: Normal,
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: Some(8),
                    parent_index: Some(0),
                    sibling_index: Some(6),
                    name: "Enemy 3",
                    transform: (
                        x: (
                            bits: 548864,
                        ),
                        y: (
                            bits: 372736,
                        ),
                    ),
                    node_extension: Sprite((
                        graphic_asset: "enemyRed3",
                        sprite_type: Normal,
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(7),
                    sibling_index: None,
                    name: "Enemy Collider",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: RectCollider((
                        width: (
                            bits: 118784,
                        ),
                        height: (
                            bits: 114688,
                        ),
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: Some(7),
                    name: "EnemySpawner",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: None,
                    script_type_id: None,
                    enabled: true,
                ),
            ],
        ),
        (
            nodes: [
                (
                    child_index: Some(3),
                    parent_index: None,
                    sibling_index: None,
                    name: "MenuScene",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: None,
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: None,
                    name: "MenuCam",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: Camera((
                        active_main: false,
                        active_sub: true,
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: Some(1),
                    name: "TitleText",
                    transform: (
                        x: (
                            bits: 409600,
                        ),
                        y: (
                            bits: 122880,
                        ),
                    ),
                    node_extension: Sprite((
                        graphic_asset: "title3",
                        sprite_type: Normal,
                    )),
                    script_type_id: Some(3),
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: Some(2),
                    name: "TopCam",
                    transform: (
                        x: (
                            bits: 1077248,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: Camera((
                        active_main: true,
                        active_sub: false,
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
            ],
        ),
        (
            nodes: [
                (
                    child_index: Some(1),
                    parent_index: None,
                    sibling_index: None,
                    name: "Bullet",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: Sprite((
                        graphic_asset: "laserBlue04",
                        sprite_type: Normal,
                    )),
                    script_type_id: Some(2),
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: None,
                    name: "Collider",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: RectCollider((
                        width: (
                            bits: 28672,
                        ),
                        height: (
                            bits: 57344,
                        ),
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
            ],
        ),
        (
            nodes: [
                (
                    child_index: Some(1),
                    parent_index: None,
                    sibling_index: None,
                    name: "Enemy",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: Sprite((
                        graphic_asset: "enemyRed3",
                        sprite_type: Affine((
                            rotation: (
                                bits: 0,
                            ),
                            scale_x: (
                                bits: 4096,
                            ),
                            scale_y: (
                                bits: 4096,
                            ),
                        )),
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
                (
                    child_index: None,
                    parent_index: Some(0),
                    sibling_index: None,
                    name: "EnemyCollider",
                    transform: (
                        x: (
                            bits: 0,
                        ),
                        y: (
                            bits: 0,
                        ),
                    ),
                    node_extension: RectCollider((
                        width: (
                            bits: 131072,
                        ),
                        height: (
                            bits: 98304,
                        ),
                    )),
                    script_type_id: None,
                    enabled: true,
                ),
            ],
        ),
    ],
    graphical_assets: {
        "laserBlue04": (
            path: "assets/laserBlue04.png",
            size: _8x16,
        ),
        "enemyRed3": (
            path: "assets/enemyRed3.png",
            size: _32x32,
        ),
        "playerShip2_small": (
            path: "assets/playerShip2_small.png",
            size: _32x32,
        ),
        "title3": (
            path: "assets/title3.png",
            size: _64x32,
        ),
    },
)